@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */

::-webkit-scrollbar {
  width: 14px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 0px 7px -3px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  margin-bottom: 2px;
  margin-top: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0088f0;
  /* background-color: #94DDDE; */
  box-shadow: 0px 0px 1px #2d3a74;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2fa4ff;
  box-shadow: 0px 0px 1px #2d3a74;
}

::-webkit-scrollbar-thumb:active {
  background-color: #0068b8;
  box-shadow: 0px 0px 1px #2d3a74;
}

.mediumscreen {
  margin-left: 5%;
}

@media only screen and (min-width: 1711px) {
  .mediumscreen {
    margin: 0 auto;
  }
}

.swiper-button-next {
  background-image: url(../Assets/Images/pagination/btnNext.svg);
}

.swiper-button-prev {
  background-image: url(../Assets/Images/pagination/btnPrev.svg);
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 69px !important;
  width: 38px !important;
  visibility: hidden;
}

.swiper-button-disabled {
  display: none !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

@media only screen and (min-width: 888px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: visible;
  }
  .swiper-pagination {
    visibility: hidden;
  }
}

div.swiper-wrapper > div.swiper-slide > div > div > ul > li {
  background-color: #9ccff6;
  text-align: left;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 500;
}

div.swiper-wrapper > div.swiper-slide > div > div > ul {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
/* ::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url('../Assets/Images/Scrollbar/DecrementNormal.png');
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url('../Assets/Images/Scrollbar/DecrementHover.png');
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
	background-image: url('../Assets/Images/Scrollbar/DecrementActive.png');
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url('../Assets/Images/Scrollbar/IncrementNormal.png');
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	background-image: url('../Assets/Images/Scrollbar/IncrementHover.png');
	background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
	background-image: url('../Assets/Images/Scrollbar/IncrementActive.png');
	background-repeat: no-repeat;
} */
